<?xml version="1.0" encoding="utf-8" ?>
<!--NOTE: This file I put here to just keep the settings as backup. It will be C:\inetpub\wwwroot\wss\VirtualDirectories\80 (port which you are using for your application) Means in main application virtual directory-->
<!-- Add this line [assembly: log4net.Config.XmlConfigurator(ConfigFile = "log4net.config", Watch = true)] in project  assemblyInfo file where you add Logger Class -->
<configuration>
  <configSections>
    <section name="log4net"
           type="log4net.Config.Log4NetConfigurationSectionHandler,
         log4net" />
  </configSections>

  <log4net>

    <!--<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>-->

    <appender name="LogFileAppender"
                    type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="C:\Temp\Log\log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"
             value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
        <conversionPattern
             value="%newline%newline%date %newline%logger 
                       [%property{NDC}] %newline>> %message%newline" />
      </layout>
    </appender>

    <appender name="AdoNetAppender" type="IBS.ERP.Models.CustomAdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection" />
      <ConnectionStringName value="IBSUserMasterConnectionString" />
      <commandText value="INSERT INTO ErrorLog ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="to@domain.com" />
      <from value="from@domain.com" />
      <subject value="test logging message" />
      <smtpHost value="SMTPServer.domain.com" />
      <bufferSize value="512" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>

    <appender name="AdoNetAuditLogAppender" type="NIBIB.EA.Common.CustomAdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection" />
      <ConnectionStringName value="EAConnectionString" />
      <commandText value="INSERT INTO AuditLog ([Timestamp],[UserName],[Action],[AssignmentID]) VALUES (@log_date, @UserName, @Action, @AssignmentID)" />

      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>

      <parameter>
        <parameterName value="@UserName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{UserName}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Action" />
        <dbType value="String" />
        <size value="1000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{Action}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@AssignmentID" />
        <dbType value="Int32" />
        <size value="32" />
        <layout type="log4net.Layout.RawPropertyLayout" >
          <key value="AssignmentID" />
        </layout>
      </parameter>
    </appender>

    <root>
      <!--<level value="ALL" />-->
      <level value="ERROR" />
      <appender-ref ref="AdoNetAppender" />
      <!--<appender-ref ref="LogFileAppender" />-->
      <!--<appender-ref ref="AdoNetAuditLogAppender" />-->
    </root>
  </log4net>
</configuration>