@model IEnumerable<IBS.ERP.Models.EmployeeMaster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div id="main" runat="server" style="width: 100%;  float: left;">

    <div>
        <fieldset>
            <legend>Filters:</legend>
            <table class="border01" style="width: 100%;">
                <tr>
                    <td align="right">
                        Employee Code:
                    </td>
                    <td>
                        <input type="text" id="txtEmpCode">
                    </td>
                    <td align="right">
                       Employee First Name:
                    </td>
                    <td>
                        <input type="text" id="txtFirstName">
                    </td>
                </tr>              

                <tr>
                    <td align="center" colspan="4">
                        <input type="button" id="btnSearch" value="Search" />
                        &nbsp;
                        <input type="button" id="btnReset" value="Clear" />
                    </td>

                    <td align="right" valign="bottom"></td>
                </tr>
            </table>
        </fieldset>
    </div>

<div id="dvEmployee">
</div>

<script language="javascript" type="text/javascript">
    $(function () {
        $("#btnSearch").click(function () {
            alert('1');
            var EMPCode = $('#txtEmpCode').val();
            var FirstName = $('#txtFirstName').val();
            GetEmployees(EMPCode, FirstName);
        });
    });
 function GetEmployees(EMPCode, FirstName) {

        //debugger;
     $('#dvEmployee').jtable({
            title: 'Employee Details',
            paging: true,
            selecting: true,
            pageSize: 10,
            sorting: false,
            columnResizable: false,
            columnSelectable: false,
            customButtons: {
                items: [
                    {
                        icon: 'Images/edit.png', // used ../default-16x16.png by default
                        text: 'New button',
                        click: function (record) {
                            //alert(record.data);
                        },
                        position: 'left' // right by default
                    },
                     {
                         icon: 'Images/delete.png', // used ../default-16x16.png by default
                         text: 'New button',
                         click: function (record) {
                             //alert(record);
                         },
                         position: 'left' // right by default
                     }
                ]
            },

            actions: {
                listAction: 'Employee/GetEmployees'

                //deleteAction: 'Customer/DeleteCustomerInformation'


            },
            recordsLoaded: function (event, data) {
                
            },
            fields: {

                EmpCode: {
                    title: 'Employee Code',
                    width: '30%'
                },
                FirstName: {
                    title: 'First Name',
                    width: '30%'
                },
                LastName: {
                    title: 'Last Name',
                    width: '30%'
                },
                Title: {
                    title: 'Title',
                    width: '30%'

                },
                City: {
                    title: 'Contact&nbsp;Title',
                    width: '50%'

                },
                Address: {
                    title: 'Address',
                    width: '30%'
                },
                Region: {
                    title: 'Region',
                    width: '30%'
                }

            }
        });

        //$('#dvCustomer').jtable('reload');
     $('#dvEmployee').jtable('load', {
         EMPCode: EMPCode,
            FirstName: FirstName
        });
    }
    </script>

    <script type="text/javascript">

    $(document).ready(function () {

        $("#txtEmpCode").autocomplete({

          

            source: function (request, response) {

                $.ajax({

                    type: "POST",

                    contentType: "application/json; charset=utf-8",

                    url: "Employee/GetEmpCode",

                    data: "{'EmpCode':'" + document.getElementById('txtEmpCode').value + "'}",

                    dataType: "json",

                    success: function (data) {
                        response($.map(data.Records, function (item) {
                            return {
                                label: item.EmpCode,
                                value: item.EmpCode
                            }
                        }))                      

                    },

                    error: function (result) {

                        alert("Error......");

                    }

                });

            }

        });

    });
    </script>
